.nav-list {
    display: flex;
    gap: 1rem;
    height: 2rem;
    align-items: center;
}

.nav-item {
    outline: none;
    text-decoration: none;
}

.nav-item.active {
    font-weight: bold;
    text-decoration: underline;
}
